:root{
    --maincolor: white;
    --backgroundcolor: black;
}

body {
    background: var(--backgroundcolor);
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    color: var(--maincolor);
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

input {
    outline: none;
    background: var(--backgroundcolor);
    color: var(--maincolor);
    width: 80%;
    text-align: center;
    min-height: 50px;
    border: none;
    font-size: 3vw;
    font-family: 'Nunito', sans-serif;
}

.settings {
    text-align: center;
    color: var(--maincolor);
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 3vw;
}

.setting-title {
    text-decoration: underline;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4px;
}

.clock {
    text-align: center;
    left: 0;
    color: var(--maincolor);
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-style: bold;
    font-size: 4vw;
}

input[type="color"] {
    padding: 0;
    border: 0px solid;
    border-radius: 5px;
    outline: none;
}

#main_color_input{
    border: 6px solid;
    border-radius: 6px;
}

.position{
    float: right;
    color: var(--maincolor);
    transition: color 0.6s;
}

.position:hover{
    color: white;
}

button{
    color: #ccc;
    background-color: #222;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    border: 50px;
    border-radius: 50px;
    transition: all 0.5 s;
    min-width: 150px;
    min-height: 50px;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    transition: background-color .4s, color .4s;
}

button:hover{
    color: #222;
    background-color: #ccc;
}
