body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

input {
    outline: none;
    background-color: black;
    color: white;
    width: 99%;
    text-align: center;
    border: none;
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
}

.settings{
    text-align: center;
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 4rem;
}

.setting-title{
    text-decoration: underline;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4px;
}

.clock{
    text-align: center;
    left: 0;
    color: white;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-style: bold;
    font-size: 500%;
}
