body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

input {
    outline: none;
    background-color: black;
    color: white;
    width: 80%;
    text-align: center;
    border: none;
    font-size: 4vw;
    font-family: 'Nunito', sans-serif;
}

.settings {
    text-align: center;
    color: white;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 4vw;
}

.setting-title {
    text-decoration: underline;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 4px;
}

.clock {
    text-align: center;
    left: 0;
    color: white;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-style: bold;
    font-size: 6vw;
}

input[type="color"] {
    padding: 0;
    border: 0px solid;
    border-radius: 5px;
}

.x {
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.x_text {
    text-align: center;
    height: 100%;
    width: 100%;
    vertical-align: middle;    
}

.position{
    padding-left: 97%;
}
